// about 
.about{
	color:$textWithBg;
	background-color: $bgColor;

	figure{
		float: left;
		width: 100%;
		position: relative;
		&:before{
			content:'';
			margin-top:(100%*1092/2520);
			padding-bottom: (45%*195/226);;
			max-width:195px;
			width: 45%;
			max-height:226px;
			@include absolute0;
			top: -25%;
			background-repeat: no-repeat;
			background-size: contain;
			background-position:center center;
			margin-right:auto;
			margin-left:auto;
			float: none;
			display: block;
			height: 0;
			@media(min-width:$screen-sm){
				
				background-position:center top;
			}
		}
		figcaption{
			float: left;
			width: 100%;
			padding: 50px 30px;
			p{
				margin:0;
			}
			div:nth-last-child(2){
				border-right: 0;
				border-left: 0;
				padding: 20px 15px;
				@media(min-width:$screen-sm){
					border-right: 1px solid lighten($corporativeColor,30%);
					border-left: 1px solid lighten($corporativeColor,30%);
					padding: 0 15px;
				}
			}
			h6{
				margin-bottom: 30px;
				position:relative;
				font-weight:bold;
			}
		}
		&#barcelona:before{
			background-image: url('#{$img}About/bcn-logo.png');
			@include retina {
				background-image: url('#{$img}About/bcn-logo@2x.png');
			}
		}
		&#almere:before{
			background-image: url('#{$img}About/almere-logo.png');
			@include retina {
				background-image: url('#{$img}About/almere-logo@2x.png');
			}
		}
	}
}