

// blog
.blog{
	.parallax,.comments{
		background-color:$white;
		position: relative;
	}
	.jumbotron{
		margin-bottom:0;
		border-radius:0;
		color: $white;
		position: relative;
		z-index:2;
		background-repeat: no-repeat;
		float: left;
		overflow: hidden;
		max-width: 100%;
		@media(min-width:$screen-sm){
			padding-right: 45%;
			padding-top: 100px;
			padding-bottom: 100px;
		}
		h5{
			font-weight: bold;
			font-size: 50px;
		}
		&:before{
			content: '';
			@include absolute0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: left 50%;
			background-repeat: no-repeat;
			@include gradient(rgba($black,1),rgba($black,0.3));
		}
		& * {
			position: relative;
			z-index: 3;
		}
		background-image: url('#{$img}Blog/device-lab-testing.jpg');
		@include retina {
			background-image: url('#{$img}Blog/device-lab-testing@2x.jpg');
		}
	}
	.parallax{
		&#{'-img'} {
			width: auto;
			height: auto;
			z-index: 100;
			position:absolute;
			display:block;
			&.iosLogo{
				bottom:10%;
				right:0%;
			}
			&.androidLogo{
				bottom:0px;
				right:30%;
			}
			&.windowsLogo{
				top:5%;
				right:5%;
			}
			&.iphoneDevice{
				left:20%;
			}
			&.nokiaDevice{
				right:20%;
			}
		}
		&#{'-logo'} {
			width: 25%;
			padding: 6%;
			@media (min-width: $screen-sm) {
				width: 12%;
				padding: 3%;
			}
			height: auto;
			background-position: center center;
			display: flex;
			justify-content: center;
			align-items: center;
			background-repeat: no-repeat;
			background-size: contain;
			background-image: url('#{$img}Extra/polygon.png');
			@include retina {
				background-image: url('#{$img}Extra/polygon@2x.png');
			}
		}
		&#{'-device'} {
			top:0;
			bottom:0;
			height:100%;
			width: 31%;
			img{
				margin:auto;
				top: 0;
				bottom: 0;
				display: block;
				position: absolute;
				height: 80%;
				width: 100%;
			}
			@media (min-width: $screen-sm) {
				width: 18%;
			}
		}
		.devices{
			height: 0;
			padding-bottom: (100%*210/435);
			margin-bottom: 50px;
			overflow: hidden;
			max-width: 100%;
		}
	}
}


//comments
.comments{
	&#{'__submit'} {}
	&#{'__list'} {}
	&#{'__unit'} {
		padding-top:25px;
		padding-bottom:25px;
		&:first-child{
			margin-top:10px;
			padding-top: 15px;
			border-top:3px solid $corporativeColor;
		}
		& + &{
			border-top:1px solid $textNoBg;
		}
		&:last-child{
			border-bottom:1px solid $textNoBg;
		}
		p{
			&:last-child{
				margin-bottom: 0;
			}
		}
		b{padding-right:15px}
	}
}