//career

.careers{
	 h4{
		margin-top:10px;
		margin-bottom:40px;
	}
	
	&#{'__client'}{
		margin: auto;
		display: inline-block;
		float: none;
		a{
			position: relative;
			display: block;
			padding-bottom: 100%;
			height: 0;
			margin-bottom: 30px;
			&:before{
				content: '';
				@include absolute0;
				width: 100%;
				height: 100%;
				will-change: transform; 
				transition: transform ease-in 0.5s 0.15s;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url('#{$img}Extra/company-logo-frame.png');
				@include retina {
					background-image: url('#{$img}Extra/company-logo-frame@2x.png');
				}
			}
			img{
				will-change: transform; 
				transition: transform ease-in 0.5s;
				padding: 25%;
				margin: auto;
				@include absolute0;
			}
			&:hover,&:focus{
				&:before{
					@include keyframes(rotation) {
					  0%  { transform: rotate(0); }
					  100%  { transform: rotate(60deg); }
					}
					@include animation('rotation 0.5s ease-out 0s 1 forwards');
				}
				img{
					@include keyframes(scalation) {
					  0%  { transform: scale(1); }
					  100%  { transform: scale(0.95); }
					}
					@include animation('scalation 0.5s ease-out 0s 1 forwards');
				}
			}
		}
	}
}