
// contact
.contact{
	&#{'__form'} {
		background-size: auto 50%;
		background-color: darken($bodyBg,5%);
		background-repeat: no-repeat;
		background-position: right top;
		padding-top: 40px;
		padding-bottom: 40px;
		background-image: url('#{$img}Extra/elements-pattern@2x.png');
		@include retina {
			background-image: url('#{$img}Extra/elements-pattern@2x.png');
		}
		form{
			padding-right: 25px;
			padding-left: 25px;
		}
		input{
			width: 100%;
			@media (min-width: $screen-sm) {
				width: calc(100% - 100px);
			}
		}
	}
	small{
		&:before{
			content:'';
			width: 10px;
			height: 11px;
			display: inline-block;
			background-repeat: no-repeat;
			background-size: contain;
			margin-right: 2px;
			background-image: url('#{$img}Extra/form-required-icon.png');
			@include retina {
				background-image: url('#{$img}Extra/form-required-icon@2x.png');
			}
		}
	}
	.form-label{color:$black}
	.btn{
		border-radius:3px;
		font-weight:bold;
	}
}
