$path: '../../fonts/';

@font-face {
    font-family: 'Open Sans';
    src: url('#{$path}opensans-bold.woff2') format('woff2'),
         url('#{$path}opensans-bold.woff') format('woff');
    font-weight: bold;
}




@font-face {
    font-family: 'Open Sans';
    src: url('#{$path}opensans-regular.woff2') format('woff2'),
         url('#{$path}opensans-regular.woff') format('woff');
    font-weight: normal;
}