html {}
body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: 'Open Sans','Helvetica Neue', Arial, sans-serif;
  color: $textNoBg;
  float: left;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

main{
	background-color:$bodyBg;
}

section{
	.row{
		&:first-of-type{
			padding-top:50px;
		}
		&:last-of-type{
			padding-bottom:50px;
		}
	}
}


a{
	color: inherit;
	p &{
		transition: color ease-in-out 0.2s;
		color: $corporativeColor;
		&:hover, &:active, &:focus{
			text-decoration:none;
			outline:none;
			color: darken($corporativeColor,10%);
		}
	}
}

p{
	margin-bottom: 24px;
}

b{
	font-weight:bold;
	color: $corporativeColor;
}

em{
	color: $corporativeColor;
}

img{
	width:100%;
}

$headings: (1:40, 2:14, 3:42, 4:28, 5:24, 6:22);

@each $k,$v in $headings {
	h#{$k} {
		font-weight: normal;
		margin-top: #{($v/2)}px;
		margin-bottom: #{($v/2)}px;
		line-height: #{($v*2)}px;
		font-size: #{$v}px;
		font-size: calc(#{$v}px + (#{$v+10} - #{$v}) * ((100vw - #{$screen-xs}) / (#{str-slice(quote($screen-lg), 1, str-index(quote($screen-lg),"px")-1)} - #{str-slice(quote($screen-xs), 1, str-index(quote($screen-xs),"px")-1)})));
	}
}

h3, h4{
	font-weight: bold;
}

hr{
	border:0;
	
	&.shadow{
		margin: 20px auto 10px;
		width: 100%;
		position: relative;
		padding-bottom: (100%*77/826);
		background-size: contain;
		background-image: url('#{$img}Extra/shadow-separator.png');
		@include retina {
			background-image: url('#{$img}Extra/shadow-separator@2x.png');
		}
	}
	&.color{
		margin: 20px auto 40px;
		width: 5cm;
		height: 3px;
		background-color: $corporativeColor;
	}
}

.row{
	background-color:inherit;
}


main > .container{
	box-shadow: 0 0 8px lighten($textWithBg,15%);
	padding-bottom: (100%*197/1256);
	background-position: bottom center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('#{$img}Extra/elements-footer-pattern.png');
	@include retina {
		background-image: url('#{$img}Extra/elements-footer-pattern@2x.png');
	}
}

.btn{
	&#{'-primary'} {
		padding: 10px 20px;
		font-weight: bold;
		border-radius:0;
		color: $white;
		background-color: $corporativeColor;
		border-color: $corporativeColor;
		transition: all ease-in-out 0.2s;
		&:hover,&:focus,&:active{
			background-color: darken($corporativeColor, 10%);
			border-color: darken($corporativeColor, 10%);
		}
	}
}

.form{
	&#{'-group'}{
		margin-bottom: 45px;
		&.required{
			& > .form-label{
				.tag{
					&:after{
						content:'';
						width: 10px;
						height: 11px;
						display: inline-block;
						background-repeat: no-repeat;
						background-size: contain;
						margin-left: 2px;
						background-image: url('#{$img}Extra/form-required-icon.png');
						@include retina {
							background-image: url('#{$img}Extra/form-required-icon@2x.png');
						}
					}
				}
			}
		}
		&.has-error{
			& .form-control{
				border-color: darken($corporativeColor, 10%);
				box-shadow: inset 0 0 3px darken($corporativeColor, 10%);
			}
			& > .form-label{
				.tag{
					&:after{
						@include keyframes(has-error) {
						  0%  { transform: translate(0px, 0px) rotate(0); }
						  50% { transform: translate(0px, -3px) rotate(0); }
						  100%  { transform: translate(0px, 0px) rotate(90deg); }
						}
						@include animation('has-error 1s cubic-bezier(.21,1.84,.5,.81) 0s 1');
					}
				}
			}
		}
	}
	&#{'-label'} {
		.tag{color:$black;}
		span{
			color: $textNoBg;
			color:inherit;
			padding-left:5px;
			font-weight:normal;
		}
	}
	&#{'-control'} {
		border-radius: 0;
		border-color: $textNoBg;
		box-shadow: inset 0 0 3px lighten($textNoBg, 15%);
		color: $textWithBg;
		padding:12px 15px;
		height:40px;
		&:focus{
			border-color: $corporativeColor;
			box-shadow: inset 0 0 3px $corporativeColor;
		}
		&::placeholder{
			font-style:italic;
			opacity:1;
			color: $textWithBg;
		}
	}
}