#top{
	position:absolute;
	top:0;
	display:none;
}

// home
.navbar{
	&#{'-toggle'}{
		border-color: $textNoBg;
		& .icon-bar{
			background-color: $textNoBg;
		}
	}
	&#{'-elements'}{
		background-color: transparent;
		border-color: transparent;
	}
	&#{'-top'}{
		margin-top: 25px;
		margin-bottom: 25px;
		padding: 0px 15px;
		font-size: 14px;
	}
	&#{'-brand'}{
		padding: 0px 15px;
		img{
			height: 100%;
		}
	}
	&#{'-nav'}{
		& > li{
			& > a{
				text-transform: uppercase;
				transition: color ease-in-out 0.2s;
				&:hover,&:focus{
					background-color: transparent;
					color: $corporativeColor;
				}
			}
		}
	}
	&#{'-bottom'}{
		font-size: 12px;
		margin-top:0;
		margin-bottom:0;
		background-color: $white;
		& .navbar-brand {
			font-size: 12px;
			text-transform: uppercase;
		}
		& li{
			padding:15px;
			& > a{
				padding:0;
			}
		}
	}
}

.carousel{
	&:before, &:after{
		@include absolute0;
		content:'';
		width:100%;
		height:100%;
		background-repeat: space;
		z-index:-1;
	}
	&:before{
		background-image: url('#{$img}Extra/form-required-icon.svg');
		opacity: 0.2;
	}
	&:after{
		background-position: center;
		background-image: url('#{$img}Extra/company-logo-frame.png');
		opacity:0.6;
	}
	h2{
		text-transform: uppercase;
		line-height: 16px;
	}

	h3{
		line-height: 36px;
		margin-top: 30px;
		margin-bottom:30px;
	}

	.btn-primary{
		font-weight:bold;
		padding: 10px 30px;
		font-size: 18px;
		border-radius: 4px;
		text-transform: uppercase;
		background-color:transparent;
		overflow: hidden;
		position:relative;
		&:before{
			content:'';
			@include absolute0;
			z-index:-1;
			width:100%;
			height:100%;
			background-color:$corporativeColor;
			transition: transform ease-in 0.15s 0.1s;
		}
		&:hover,&:focus{
			&:before{
				@include keyframes(carousel-btn) {
				  0%  { transform:translateY(0%);opacity:1; }
				  97%  { transform:translateY(100%);opacity:1; }
				  98%  { transform:translateY(100%);opacity:0; }
				  99%  { transform:translateY(-100%);opacity:0; }
				  100%  { transform:translateY(-100%);opacity:1; }
				}
				@include animation('carousel-btn 0.15s ease-out 0s 1 forwards');
			}
		}
	}

	&#{'-caption'} {
		text-shadow: 0px 0 7px rgba($black,0.5);
		top: auto;
		bottom: auto;
		margin-top: 60px;
	}

	&#{'-indicators'} {
		li, .active {
			margin: 1px 5px;
			width: 10px;
			height: 10px;
		}
		li {
			border-color: $white;
			transition: border-color ease-in-out 0.2s, transform ease-in-out 0.4s;
			&:hover{
				border-color: $corporativeColor;
				transform: scale(1.4);
			}
		}
		.active {
			background-color: $corporativeColor;
			border-color: $corporativeColor;
			&:hover{
				transform: none;
			}
		}
	}

	&#{'-img'} {
		background-size: cover;
		background-color: $black;
		background-blend-mode: screen;
		width: 100%;
		height: 100%;
		z-index: 0;
		position: absolute;
		top: 0;
		bottom: 0;
		opacity:1;
		transition: background-color ease-in-out 0.3s, opacity ease-in-out 0.4s;
	}

	&#{'-control'} {
		z-index: 10;
		transition: opacity ease-in-out 0.3s;
		width:15%;
		&:hover, &:focus{
			opacity:1;
			.glyphicon:before{
				transform:scale(1.1);
			}
		}
		&.right{
			@include gradient(rgba($black,0),rgba($black,0.8));
		}
		&.left{
			@include gradient(rgba($black,0.8),rgba($black,0));
		}
		.glyphicon{
			&:before{
				transform: none;
				display: block;
				transition: transform ease-in-out 0.3s;
			}
			&.glyphicon-chevron-right{
				&:before{
					content: "\e258";
				}
				right:25%;
			}
			&.glyphicon-chevron-left{
				&:before{
					content:"\e257";
				}
				left:25%;
			}
		}
	}
	
	&#{'-control'}:hover ~ &#{'-inner'} &#{'-img'} {
		background-color: darken($corporativeColor,50%);
		opacity: 0.9;
	}
	

	.item{
	    min-height: 300px;
	    height: 40vh;
		max-height: 800px;
	    img {
		    @include absolute0;
		    width: 100%;
		    object-fit: cover;
		    min-height: 300px;
		    height: 40vh;
			max-height: 800px;
		}
	}
}
