
@mixin retina{
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		@content;
	}
}

@mixin absolute0{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

@mixin gradient($color1, $color2, $direction:'horitzontal'){
	// defaults
	$gradient:'linear';
	$cross-dir: 'left';
	$dir: 'to right';
	$filter: 1;

	@if ($direction == 'horitzontal') {
		$cross-dir: 'left';
		$dir: 'to right';
		$filter: 1;
	}
	@else if ($direction == 'top') {
		$cross-dir: 'top';
		$dir: 'to bottom';
		$filter: 0;
	}
	@else if ($direction == 'diagonal') {
		$cross-dir: '-45deg';
		$dir: '135deg';
		$filter: 1;
	}
	@else if ($direction == 'radial') {
		$gradient: 'radial';
		$cross-dir: 'center, ellipse cover';
		$dir: 'ellipse at center,';
		$filter: 1;
	}

	background-color: $color1;
	background: -moz-#{$gradient}-gradient(#{$cross-dir}, $color1 0%, $color2 100%);
	background: -webkit-#{$gradient}-gradient(#{$cross-dir}, $color1 0%, $color2 100%);
	background: #{$gradient}-gradient(#{$dir}, $color1 0%, $color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str($color1)}', endColorstr='#{ie-hex-str($color2)}',GradientType=#{$filter} );
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}