<nav class="navbar navbar-bottom">
	<div class="container">
	  <div class="navbar-header">
	    <a ui-sref="({'#': 'top'})" scroll-to="top" class="navbar-toggle visible-xs">
	      <span>Back to top</span>
	    </a>
	    <ul class="nav navbar-nav navbar-left">
	    	<li><a ui-sref="({'#': 'top'})" scroll-to="top">&copy;Elements Interactive</a></li>
	    </ul>
	  </div>
	  <div id="navbar" class="hidden-xs">
	    <ul class="nav navbar-nav navbar-right">
			<li><a ui-sref="({'#': 'home'})" scroll-to="home">Home</a></li>
	        <li><a ui-sref="({'#': 'careers'})" scroll-to="careers">Careers</a></li>
	        <li><a ui-sref="({'#': 'about'})" scroll-to="about">About</a></li>
	        <li><a ui-sref="({'#': 'blog'})" scroll-to="blog">Blog</a></li>
	        <li><a ui-sref="({'#': 'contact'})" scroll-to="contact">Contact</a></li>
	    </ul>
	  </div><!--/.nav-collapse -->
	</div>
</nav>