<div id="top"></div>
<!-- NAV -->
<nav class="navbar navbar-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-nav-header" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ui-sref="({'#': ''})" scroll-to="top">
        <img ng-srcset="{{main.elementsLogo2x}}, {{main.elementsLogo}}" ng-src="{{main.elementsLogo}}" alt="Elements Interactive">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-nav-header">
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a ui-sref="({'#': 'home'})" scroll-to="home">Home</a>
        </li>
        <li>
            <a ui-sref="({'#': 'careers'})" scroll-to="careers">Careers</a>
        </li>
        <li>
            <a ui-sref="({'#': 'about'})" scroll-to="about">About</a>
        </li>
        <li>
            <a ui-sref="({'#': 'blog'})" scroll-to="blog">Blog</a>
        </li>
        <li>
            <a ui-sref="({'#': 'contact'})" scroll-to="contact">Contact</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- END NAV -->


<!-- HOME -->
<section id="home">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" ng-repeat="(key, value) in carousel.results" ng-class="{'active': $first}" data-slide-to="{{key}}"></li>
      </ol>

        <!-- Controls -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item" ng-repeat="(key, value) in carousel.results" ng-class="{'active': $first}">
            <style scoped>
                #carousel-img-{{key}} {
                    background-image: url('{{value.image}}'); 
                }
                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                    #carousel-img-{{key}} {   
                        background-image: url('{{value.image_2x}}');
                    }
                }
            </style>
            <div id="carousel-img-{{key}}" class="carousel-img"></div>
            <!--<img srcset="{{value.image_2x}}, {{value.image}}" src="{{value.image}}" alt="{{value.title}}">-->
            <div class="carousel-caption">
                <h2>{{value.title}}</h2>
                <h3>{{value.subtitle}}</h3>
                <a href="{{value.action_url}}" class="btn btn-primary">{{value.action}}</a>
            </div>
        </div>
      </div>
    </div>
</section>
<!-- END HOME -->

<main>
<div class="container">

<!-- CAREERS -->
<section id="careers" class="careers  text-center">
    <div class="row">
        <div class="col-xs-12">
            <h4>Creating rock solid applications for<wbr> web&nbsp;and&nbsp;mobile</h4>
            <hr class="shadow">
            <h5>Great projects for relevant&nbsp;companies</h5>
            <hr class="color">
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <p>At Elements you will work with worldwide&nbsp;companies. These companies are as ambicious as all our Elements&nbsp;personel. Here some of the companies we have worked&nbsp;with:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-2 careers__client" ng-repeat="(key, value) in company.results">
            <a href="{{value.website}}">
                <img srcset="{{value.logo_2x}}, {{value.logo}}" src="{{value.logo}}" alt="{{value.name}}">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <p>Discover <a href="#">many more</a>, or else you can <a href="#contact">contact&nbsp;us</a> for&nbsp;more information.</p>
        </div>
    </div>
</section>
<!-- END CAREERS -->

<!-- ABOUT -->
<section id="about" class="about ">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h5>Join a magnificient and fun&nbsp;team</h5>
            <hr class="color">
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
            <p>At Elements you will work with colleagues who are specialized in&nbsp;development. Not only can you share knowledge with your co-workers but also have&nbsp;fun.  We like to have a positive&nbsp;approach.</p>
        </div>
    </div>
    <div class="row">
        <figure id="barcelona">
            <img srcset="{{main.bcnCity2x}}, {{main.bcnCity}}" src="{{main.bcnCity}}" alt="Barcelona, ES">
            <figcaption>
                <div class="col-xs-12 text-center">
                    <h6>Barcelona,&nbsp;ES</h6>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p>We recieve and organize different events related to&nbsp;development, learning is&nbsp;sharing.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p>Work together with an international team. Constant communication and team work.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p>All disciplines are&nbsp;covered. We can offer an ‘all in one’ service for any claim of one of our beloved&nbsp;clients.</p>
                </div>
            </figcaption>
        </figure>
    </div>
    <div class="row">
        <figure id="almere">
            <img srcset="{{main.almereCity2x}}, {{main.almereCity}}" src="{{main.almereCity}}" alt="Almere, NL">
            <figcaption>
                <div class="col-xs-12 text-center">
                    <h6>Almere,&nbsp;NL</h6>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p>The core of Elements is in&nbsp;Almere. This is the headquarter of this young&nbsp;company.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p>Feel welcome to bring your own insight into big&nbsp;projects, at Elements we are open to new bright&nbsp;ideas.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p>At this moment we are proud to say that we are a big team but this is not&nbsp;enough. We wan’t to&nbsp;grow.</p>
                </div>
            </figcaption>
        </figure>
    </div>
</section>
<!-- END ABOUT -->

<!-- BLOG -->
<section id="blog" class="blog ">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h5>Great apps and webs for&nbsp;all!</h5>
            <hr class="color">
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
            <p>At Elements we believe that everybody should have access to an easy and correct experience with their&nbsp;device. We specialize on&nbsp;mobile, but we try to deliver a product for every platform, so everybody is&nbsp;happy!</p>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron">
            <h5>Great apps and webs for&nbsp;all!</h5>
            <p>At Elements we believe that everybody should have access to an easy and correct experience with their&nbsp;device. We specialize on&nbsp;mobile, but we try to deliver a product for every platform, so everybody is&nbsp;happy!</p>
            <div class="parallax-img iosLogo parallax-logo" du-parallax x="iosLogoX" y="iosLogoY">
                <img srcset="{{main.iosLogoSvg}}, {{main.iosLogo2x}}, {{main.iosLogo}}" src="{{main.iosLogo}}" alt="iosLogo" >
            </div>
            <div class="parallax-img androidLogo parallax-logo" du-parallax x="androidLogoX" y="androidLogoY">
                <img srcset="{{main.androidLogoSvg}}, {{main.androidLogo2x}}, {{main.androidLogo}}" src="{{main.androidLogo}}" alt="androidLogo">
            </div>
            <div class="parallax-img windowsLogo parallax-logo" du-parallax x="windowsLogoX" y="windowsLogoY">
                <img srcset="{{main.windowsLogoSvg}}, {{main.windowsLogo2x}}, {{main.windowsLogo}}" src="{{main.windowsLogo}}" alt="windowsLogo">
            </div>
        </div>
    </div>
    <div class="parallax">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 text-left">
                <p>At Elements we have a large collection of&nbsp;devices to test all our websites and&nbsp;applications.</p>
                <p>We have an effective team of testers who will check your&nbsp;results. Using Jira we organize all the feedback and comments that the testers can find after&nbsp;testing. Working on a solid team for a great final&nbsp;product.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 devices">
                <div class="parallax-img iphoneDevice parallax-device" du-parallax y="iphoneDeviceY" x="iphoneDeviceX">
                    <img srcset="{{main.iphoneDeviceSvg}}, {{main.iphoneDevice2x}}, {{main.iphoneDevice}}" src="{{main.iphoneDevice}}" alt="iphoneDevice">
                </div>
                <div class="parallax-img nokiaDevice parallax-device" du-parallax y="nokiaDeviceY" x="nokiaDeviceX">
                    <img srcset="{{main.nokiaDeviceSvg}}, {{main.nokiaDevice2x}}, {{main.nokiaDevice}}" src="{{main.nokiaDevice}}" alt="nokiaDevice">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <img srcset="{{main.deviceLabTesting2x}}, {{main.deviceLabTesting}}" src="{{main.deviceLabTesting}}" alt="deviceLabTesting">
            </div>
            <div class="col-xs-12 col-sm-5">
                <img srcset="{{main.developersAnalyzing2x}}, {{main.developersAnalyzing}}" src="{{main.developersAnalyzing}}" alt="developersAnalyzing">
            </div>
        </div>
    </div>
    <!-- comments-->
    <div class="comments">
        <div class="row comments__submit">
            <div class="col-xs-12 text-center">
                <h5>Leave a&nbsp;comment</h5>
                <hr class="color">
            </div>
            <form name="commentForm" ng-submit="submitComment(commentForm.$valid)" novalidate>
                <div class="form-group required col-xs-12 col-sm-6 col-md-offset-1 col-md-5 text-left" ng-class="{'has-error': commentForm.name.$invalid && !commentForm.name.$pristine}"
                >
                    <label class="form-label" for="name">
                        <span class="tag">Name</span>
                        <span ng-show="commentForm.name.$invalid && !commentForm.name.$pristine">
                            Enter a valid name
                        </span>
                    </label>
                    <input type="text" ng-model="comment.name" class="form-control" id="name" name="name" placeholder="Place your name here..." required>
                </div>
                <div class="form-group required col-xs-12 col-sm-6 col-md-5 text-left"
                     ng-class="{'has-error': commentForm.email.$invalid && !commentForm.email.$pristine}"
                >
                    <label class="form-label" for="email">
                        <span class="tag">Email</span>
                        <span ng-show="commentForm.email.$invalid && !commentForm.email.$pristine">
                            Enter a valid email
                        </span>
                    </label>
                    <input type="email" ng-model="comment.email" class="form-control" id="email" name="email" placeholder="username@company.com" required>
                </div>
                <div class="form-group required col-xs-12 col-md-offset-1 col-md-10 text-left" ng-class="{'has-error': commentForm.comment.$invalid && !commentForm.comment.$pristine}"
                >
                    <label class="form-label" for="comment">
                        <span class="tag">Comment</span>
                        <span ng-show="commentForm.comment.$invalid && !commentForm.comment.$pristine">
                            Enter a valid comment
                        </span>
                    </label>
                    <textarea ng-model="comment.comment" class="form-control" id="comment" name="comment" placeholder="Place your comment here..." rows="4" required></textarea>
                </div>
                <div class="form-group col-xs-12 text-center">
                    <button type="submit" class="btn btn-primary">Submit comment</button>
                </div>
            </form>
        </div>
        <div class="row comments__list">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="comments__unit" ng-repeat="(key, value) in comments.results">
                    <p><b>{{value.name}}</b><span>{{value.email}}</span></p>
                    <p>{{value.comment}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END BLOG -->


<!-- CONTACT -->
<section id="contact" class="contact ">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h5>Let's talk and go&nbsp;on!</h5>
            <hr class="color">
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 contact__form text-left">
            <form name="contactForm" ng-submit="submitContact(contactForm.$valid)" novalidate>
                <h6>Send us a message</h6>
                <p><small>Required fields</small></p>
                <div class="form-group required"
                     ng-class="{'has-error': contactForm.name.$invalid && !contactForm.name.$pristine}"
                >
                    <label class="form-label" for="name">
                        <span class="tag">Name</span>
                        <span ng-show="contactForm.name.$invalid && !contactForm.name.$pristine">
                            Enter a valid name
                        </span>
                    </label>
                    <input type="text" ng-model="contact.name" class="form-control" id="name" name="name" placeholder="Place your name here..." required>
                </div>

                <div class="form-group required"
                     ng-class="{'has-error': contactForm.email.$invalid && !contactForm.email.$pristine}"
                >
                    <label class="form-label" for="email">
                        <span class="tag">Email</span>
                        <span ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">
                            Enter a valid email
                        </span>
                    </label>
                    <input type="email" ng-model="contact.email" class="form-control" id="email" name="email" placeholder="Place your email here..." required>
                </div>

                <div class="form-group required" ng-class="{'has-error': contactForm.telephone.$invalid && !contactForm.telephone.$pristine}"
                >
                    <label class="form-label" for="telephone">
                        <span class="tag">Telephone</span>
                        <span ng-show="contactForm.telephone.$invalid && !contactForm.telephone.$pristine">
                            Enter a valid telephone
                        </span>
                    </label>
                    <input type="text" ng-model="contact.telephone" class="form-control" id="telephone" name="telephone" placeholder="Place your telephone here..." required>
                </div>

                <div class="form-group required" ng-class="{'has-error': contactForm.message.$invalid && !contactForm.message.$pristine}"
                >
                    <label class="form-label" for="message">
                        <span class="tag">Message</span>
                    </label>
                    <textarea ng-model="contact.message" class="form-control" id="message" name="message" placeholder="Place your message here..." rows="4" required></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- END CONTACT-->

</div><!-- end container-->
</main>

<!--footer-->
<footer>
<nav class="navbar navbar-bottom">
    <div class="container">
      <div class="navbar-header">
        <a href="#" ui-sref="({'#': ''})" scroll-to="top" class="navbar-toggle visible-xs">
          <span>Back to top</span>
        </a>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#" ui-sref="({'#': ''})" scroll-to="top">&copy;Elements Interactive</a>
            </li>
        </ul>
      </div>
      <div id="navbar" class="hidden-xs">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ui-sref="({'#': 'home'})" scroll-to="home">Home</a>
            </li>
            <li>
                <a ui-sref="({'#': 'careers'})" scroll-to="careers">Careers</a>
            </li>
            <li>
                <a ui-sref="({'#': 'about'})" scroll-to="about">About</a>
            </li>
            <li>
                <a ui-sref="({'#': 'blog'})" scroll-to="blog">Blog</a>
            </li>
            <li>
                <a ui-sref="({'#': 'contact'})" scroll-to="contact">Contact</a>
            </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</nav>
</footer>